.category-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.category-wrap hr {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  border: none;
  margin: 0;
  position: absolute;
  top: 39px;
  z-index: -1;
}

.category-wrap .category-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-wrap .category-menu h1 {
  color: #343e48;
  font-weight: 400;
  font-size: 28px;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.category-wrap .category-menu h1:after {
  content: "";
  height: 2px;
  width: 135px;
  display: block;
  background-color: #ec9801;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.category-wrap .category-menu .category-item {
  width: 25%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 40px;
  text-align: center;
}

.category-wrap .category-menu .category-item div .category-img-link {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  min-height: 210px;
}

.category-wrap .category-menu .category-item div .category-img-link img {
  display: block;
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.category-wrap .category-menu .category-item div:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category-wrap .category-menu .category-item div .category-title {
  color: #343e48;
  font-size: 18px;
}
/*# sourceMappingURL=category_style.css.map */