@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');
body,
html {
  font-family: 'Roboto', sans-serif;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}
.header-top {
  border-bottom: 1px solid #ccc;
}
.header-top-wrap {
  padding: 18px 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-phone {
  font-size: 13px;
  margin-left: 25px;
}
.login-and-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login-and-money form {
  margin-right: 20px;
}
.login {
  font-size: 13px;
  text-decoration: none;
  display: block;
  position: 0;
  top: 2px;
}
.nav-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
}
.logo-head {
  display: block;
  position: relative;
  left: -5px;
}
.nav-and-logo nav ul {
  list-style: none;
  padding: 0;
  margin: 27px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-and-logo nav ul li {
  margin-left: 31px;
}
.nav-and-logo nav ul li a {
  display: block;
  padding: 10px 8px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}
.panel-header {
  background-color: #ec9801;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-top: 12px;
  border-radius: 5px;
}
.catalog-wrap {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}
.catalog-nav {
  position: absolute;
  display: none;
}
.search-wrap {
  padding: 7px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.search-wrap div {
  border-radius: 45px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-wrap input {
  padding: 13px 26px 10px 38px;
  display: block;
  border: 0;
}
.search-wrap input::-moz-placeholder,
.search-wrap input::-webkit-input-placeholder,
.search-wrap input::-ms-placeholder,
.search-wrap input::-ms-input-placeholder,
.search-wrap input::placeholder {
  font-size: 15px;
}
.search-wrap select {
  border: 0;
}
.search-wrap button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 77px;
  border: 0;
  cursor: pointer;
  background-color: #343e48;
}
.btn-cart-wrap {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}
.breadcrumb {
  margin-top: 43px;
}
.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumb ul li {
  display: block;
}
.breadcrumb ul li a {
  color: #555;
  text-decoration: none;
  margin-right: 6px;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}
.breadcrumb ul li span {
  color: #555;
  margin-left: 6px;
}
.header-top {
  border-bottom: 1px solid #f5f5f5;
}
.header-top .header-top-wrap {
  padding: 10px 0 0 0;
}
.header-top .header-top-wrap .header-phone {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-top .header-top-wrap .header-phone p {
  margin-bottom: 10px;
  font-size: 14px;
}
.header-top .header-top-wrap .header-phone p i {
  color: #ec9801;
  margin-right: 10px;
}
.header-top .header-top-wrap .login-and-money {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-top .header-top-wrap .login-and-money nav {
  padding: 0;
  margin-right: 40px;
  color: #010101;
  margin-top: -8px;
}
.header-top .header-top-wrap .login-and-money .login {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.header-top .header-top-wrap .login-and-money .login i {
  margin-right: 10px;
}
.nav-and-logo {
  padding: 0;
}
.nav-and-logo .logo-head {
  width: 25%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.nav-and-logo .main-menu {
  width: 75%;
  padding: 15px 0 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.nav-and-logo .main-menu nav {
  padding-right: 0;
}
.nav-and-logo .main-menu nav ul {
  margin: 0;
  width: 100%;
}
.nav-and-logo .main-menu nav ul li {
  margin-left: 0;
}
.nav-and-logo .main-menu nav ul li.active .nav-link {
  color: #ec9801;
}
.nav-and-logo .main-menu nav ul li .nav-link {
  color: #333;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
}
.nav-and-logo .main-menu nav ul li .nav-link:hover {
  color: #ec9801;
}
.panel-header {
  position: relative;
  margin: 0 auto;
  height: auto;
  padding: 0 20px;
}
.panel-header .catalog-wrap {
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 15px 0 15px;
}
.panel-header .catalog-wrap span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}
.panel-header .catalog-wrap span i {
  margin-right: 15px;
  font-size: 18px;
}
.panel-header .catalog-wrap .catalog-nav {
  background-color: #ec9801;
  margin-left: -35px;
  padding: 10px 25px;
  z-index: 3;
  border-radius: 0 0 5px 5px;
}
.panel-header .catalog-wrap .catalog-nav ul li {
  margin: 3px 0;
}
.panel-header .catalog-wrap .catalog-nav ul li a {
  color: #ffffff;
  font-size: 16px;
  display: block;
  padding: 5px 0;
}
.panel-header .catalog-wrap .catalog-nav ul li a:hover {
  color: #333;
}
.panel-header .search-wrap {
  width: 50%;
  padding: 10px;
  border-radius: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.panel-header .search-wrap i {
  color: #ffffff;
  font-size: 20px;
}
.panel-header .btn-cart-wrap {
  width: 25%;
  padding: 22px 7px;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.panel-header .btn-cart-wrap .list-top {
  color: #ffffff;
  font-size: 24px;
  margin: 0 15px;
}
.panel-header .btn-cart-wrap .list-top:hover {
  text-decoration: none;
}
.panel-header .btn-cart-wrap .cart-top {
  color: #ffffff;
  font-size: 24px;
  position: relative;
  margin: 0 15px;
}
.panel-header .btn-cart-wrap .cart-top .count {
  position: absolute;
  background-color: #333;
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  border-radius: 50%;
  left: 10px;
  top: 15px;
  line-height: 30px;
  font-size: 18px;
}
.panel-header .btn-cart-wrap .cart-top .value-cart {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 25px;
}
.breadcrumb {
  background-color: transparent;
  margin: 30px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
.breadcrumb ul {
  width: 100%;
}
.breadcrumb ul li {
  margin-right: 5px;
}
.breadcrumb ul li a {
  font-size: 15px;
}
.breadcrumb ul li i {
  color: #777;
  font-size: 13px;
}
.breadcrumb ul li span {
  font-size: 15px;
  margin-left: 3px;
}
.product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-wrap .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-wrap .product-info .product-img {
  width: 43.5%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-wrap .product-info .product-img img {
  display: block;
  width: 100%;
  height: auto;
}
.product-wrap .product-info .product-title {
  width: 31.5%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-wrap .product-info .product-title .category {
  font-size: 14px;
  color: #8f8d8d;
}
.product-wrap .product-info .product-title .name {
  font-size: 20px;
  margin: 5px 0 10px;
  color: #333;
  font-weight: 400;
}
.product-wrap .product-info .product-title .rating-product .fas.fa-star {
  font-size: 16px;
  color: #ec9801;
}
.product-wrap .product-info .product-title .rating-product .far.fa-star {
  font-size: 16px;
  color: #c1bcbc;
}
.product-wrap .product-info .product-title .rating-product .comments {
  margin-left: 20px;
  font-size: 16px;
}
.product-wrap .product-info .product-title .rating-product .comments i {
  font-size: 14px;
  margin-right: 5px;
}
.product-wrap .product-info .product-title ul {
  margin: 20px 0;
  padding-left: 20px;
  list-style: disc;
}
.product-wrap .product-info .product-title ul li {
  font-size: 16px;
  margin: 8px 0;
  color: #333;
}
.product-wrap .product-info .product-title .cod {
  color: #333;
  margin-top: 30px;
  font-size: 16px;
}
.product-wrap .product-info .product-title .cod span {
  color: #8f8d8d;
  margin-left: 5px;
}
.product-wrap .product-info .product-cart {
  width: 25%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 17px 0px #cccccc;
          box-shadow: 0px 0px 17px 0px #cccccc;
  border-radius: 6px;
  margin-bottom: 20px;
}
.product-wrap .product-info .product-cart .prod-yes {
  color: #10b14a;
  font-size: 16px;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}
.product-wrap .product-info .product-cart .price-old {
  color: #2f3f4c;
  text-decoration: line-through;
  font-size: 16px;
  margin-top: 10px;
}
.product-wrap .product-info .product-cart .price-new {
  color: #f11f22;
  margin: 10px 0;
  font-size: 30px;
}
.product-wrap .product-info .product-cart form .color-wrap p {
  margin-bottom: 15px;
}
.product-wrap .product-info .product-cart form .color-wrap label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
}
.product-wrap .product-info .product-cart form .color-wrap label .color {
  width: 23px;
  height: 23px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
  display: inline-block;
}
.product-wrap .product-info .product-cart form .color-wrap label .color.color-1 {
  background-color: #000;
}
.product-wrap .product-info .product-cart form .color-wrap label .color.color-2 {
  background-color: #828282;
}
.product-wrap .product-info .product-cart form .color-wrap label .color.color-3 {
  background-color: #ffffff;
}
.product-wrap .product-info .product-cart form .color-wrap label input:not(checked) {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 5;
  cursor: pointer;
}
.product-wrap .product-info .product-cart form .color-wrap label span {
  padding-left: 35px;
  position: relative;
  top: -7px;
}
.product-wrap .product-info .product-cart form .color-wrap label span:before {
  content: "";
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cdd1da;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.product-wrap .product-info .product-cart form .color-wrap label span:after {
  content: "";
  background: #ec9801 none repeat scroll 0 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  opacity: 0;
}
.product-wrap .product-info .product-cart form .color-wrap label input:checked + span:after {
  opacity: 1;
}
.product-wrap .product-info .product-cart form .product-count p {
  margin-bottom: 15px;
}
.product-wrap .product-info .product-cart form .product-count div {
  border-radius: 5px;
  border: px solid #ccc;
  width: 50%;
  color: #333;
  position: relative;
}
.product-wrap .product-info .product-cart form .product-count div input {
  color: #333;
  padding: 10px 30px 10px 10px;
  line-height: 60px;
  display: block;
  width: 100%;
  height: 37px;
  position: relative;
  border: 1px solid #ccc;
}
.product-wrap .product-info .product-cart form .product-count div button {
  cursor: pointer;
  border: 0;
  padding: 3px;
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  background-color: transparent;
}
.product-wrap .product-info .product-cart form .product-count div button i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  font-size: 16px;
}
.product-wrap .product-info .product-cart form .product-count div button:last-child {
  bottom: 0;
  top: auto;
}
.product-wrap .product-info .product-cart form .product-count div button:last-child i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.product-wrap .product-info .product-cart form .add-cart {
  background-color: #ec9801;
  color: #ffffff;
  display: block;
  width: 100%;
  max-width: 300px;
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
}
.product-wrap .product-info .product-cart .top-list {
  border-top: 1px solid #e3e3e3;
  margin-top: 20px;
  display: block;
  padding-top: 10px;
  text-align: right;
  color: #333;
  font-size: 15px;
}
.product-wrap .product-info .product-cart .top-list i {
  margin-right: 5px;
}
.product-wrap .tabs-prod-wrap {
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-wrap .tabs-prod-wrap nav {
  border-bottom: 2px solid #ece8e8;
}
.product-wrap .tabs-prod-wrap nav .nav-link.active {
  font-weight: 500;
  border: 0;
  border-bottom: 2px solid #ec9801;
}
.product-wrap .tabs-prod-wrap nav .nav-link {
  color: #333;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid transparent;
  position: relative;
  margin-right: 15px;
}
.product-wrap .tabs-prod-wrap nav .nav-link:hover {
  border: 0;
  border-bottom: 2px solid #ec9801;
}
.product-wrap .tabs-prod-wrap nav .nav-link.active:before,
.product-wrap .tabs-prod-wrap nav .nav-link:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 8px;
  background-color: #ec9801;
  left: 50%;
  margin-left: -8px;
  bottom: -8px;
  border-radius: 0 0 50% 50%;
}
.product-wrap .tabs-prod-wrap .tab-content .tab-pane.fade {
  padding-top: 30px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-desc h2 {
  margin-bottom: 15px;
  font-size: 20px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-desc p {
  text-align: justify;
  margin-bottom: 15px;
  line-height: 24px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-opt .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-opt .table tr td:first-child {
  width: 40%;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-opt .table tr td:last-child {
  font-weight: 500;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews {
  width: 50%;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .stars-icons-wrap {
  width: 25%;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .stars-icons-wrap i.fas {
  color: #ec9801;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .stars-icons-wrap i.far {
  color: #ccc;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .progress-wrap {
  width: 50%;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .progress-wrap .progress {
  background-color: #ededed;
  height: 20px;
  margin-right: 30px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .progress-wrap .progress > div {
  background-color: #ec9801;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 15px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .rating-reviews .rating-review-block .count-wrap {
  width: 25%;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review {
  width: 40%;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form {
  /*
                     div {
                        margin: 10px 0;

                        label {
                           display: block;
                        }
       --
                        input[type="radio"] {
                           display: none;

                           & > input:checked + i {

                           }

                           &:hover ~ i {
                              color: @color1-main;
                           }
                        }
         --
                        label {
                           display: inline-block;

                           i {
                              color: @color4-main;
                           }
                        }

                        input[type="radio"] {

                        }
                     }
*/
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form > p {
  margin-bottom: 20px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form > p label {
  display: block;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form > p input {
  border: 1px solid #ededed;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form > p textarea {
  height: 70px;
  border: 1px solid #ededed;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap {
  overflow: hidden;
  margin: 15px 0;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap #review-stars {
  overflow: hidden;
  position: relative;
  float: left;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap #review-stars input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap #review-stars input ~ label i {
  color: #ccc;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap #review-stars input:checked ~ label i {
  color: #ec9801;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap #review-stars input:hover ~ label i {
  color: #ec9801;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form div .review-stars-wrap #review-stars label {
  cursor: pointer;
  position: relative;
  z-index: 1;
  float: right;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form .btn-form {
  padding: 10px 20px;
  background-color: #ec9801;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .reviews-wrap .new-review form .btn-form:hover {
  opacity: 0.7;
  cursor: pointer;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap {
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment {
  margin: 40px 0;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment ul i.good {
  color: #ec9801;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment ul i {
  color: #ccc;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment .name {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-bottom: 15px;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment .name span {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
}
.product-wrap .tabs-prod-wrap .tab-content #nav-rew .comments-wrap .comment .text {
  margin-bottom: 15px;
  line-height: 24px;
}
/* TABS HIT start */
.tab-hit-wrap {
  position: relative;
  margin-top: 24px;
}
.tab-label {
  position: absolute;
  font-size: 26px;
  border-bottom: 2px solid #ec9801;
  height: 50px;
  top: -6px;
  left: 9px;
}
.tab-hit-wrap nav .nav-tabs {
  padding-bottom: 9px;
}
.tab-hit-wrap nav .nav-link {
  border: 2px solid transparent;
  color: #333;
  border-radius: 50px;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 500;
  margin: 0 5px;
}
.tab-hit-wrap nav .nav-link.active,
.tab-hit-wrap nav .nav-link:hover {
  border: 2px solid #ec9801;
  font-weight: 500;
}
.tab-hit-prod.prod-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prod-cart {
  margin-top: 10px;
  padding: 10px 10px 10px 0;
  border-radius: 5px;
  overflow: hidden;
}
.prod-cart:hover {
  -webkit-box-shadow: 0 0 17px 0 #cccccc;
          box-shadow: 0 0 17px 0 #cccccc;
}
.tab-hit-prod .prod-link-img img {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.tab-hit-prod > div {
  width: 50%;
}
.tab-hit-prod .category {
  font-size: 14px;
  color: #a09d9d;
  margin-bottom: 0;
}
.tab-hit-prod .prod-link-title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #0065c0;
  line-height: 20px;
  margin-top: 8px;
}
.tab-hit-prod .price-and-cart {
  position: relative;
  margin-top: 30px;
}
.tab-hit-prod .price-new {
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  color: #ff2626;
  margin-right: 10px;
  margin-bottom: 25px;
}
.tab-hit-prod .price-old {
  text-decoration: line-through;
  font-size: 14px;
  display: inline-block;
  color: #a09d9d;
  margin-bottom: 25px;
}
.tab-hit-prod .cart-link {
  display: block;
  background-color: #ccc;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
}
.tab-hit-prod .cart-link:hover {
  background-color: #ec9102;
  color: #fff;
  text-decoration: none;
}
.tab-hit-prod .top-list {
  display: block;
  text-align: right;
  color: #a09d9d;
  font-size: 14px;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
}
/* -- TABS HIT end -- */
/* CAROUSEL start */
.carousel-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
}
.brand-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brand {
  display: block;
  width: 20%;
  height: auto;
  padding: 0 10px;
}
.prev,
.next {
  position: absolute;
  z-index: 777;
  top: 30px;
  text-align: center;
  color: #ccc;
}
.prev:hover,
.next:hover {
  color: #ccc;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
/* -- CAROUSEL end -- */
/* -- SUBSCRIBE start -- */
.subscribe-bg {
  background-color: #ec9801;
  margin-top: 60px;
  padding: 10px 0;
}
.form-text {
  color: #fff;
  font-size: 20px;
  margin-top: 22px;
}
.form-text i {
  margin-right: 21px;
}
.form-text span {
  margin-left: 65px;
  font-size: 15px;
}
.form-email {
  text-align: right;
  margin-bottom: 10px;
}
.form-email form > div {
  background-color: #fff;
  border-radius: 50px;
  margin-top: 13px;
  width: 83%;
}
.form-email input {
  border: 0;
}
.form-email button {
  border: 0px;
  background-color: #343e48;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
/* -- SUBSCRIBE end -- */
/* -- FOOTER start -- */
footer {
  background-color: #f8f8f8;
}
.contact-and-categ {
  padding: 46px 0;
}
.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 9px 0 0 7px;
}
.call img {
  display: block;
  margin-right: 23px;
}
.call div {
  margin-top: 9px;
}
.call div p {
  font-size: 13px;
  margin-bottom: 10px;
}
.call div p span {
  color: #ec9801;
}
.number {
  font-size: 23px;
  display: block;
}
.address {
  margin-top: 33px;
  padding-left: 13px;
}
.address span {
  font-weight: 500;
}
.address p {
  font-size: 14px;
  margin-top: 10px;
}
.social {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-left: 13px;
}
.social li {
  list-style: none;
  margin-right: 23px;
}
.social li a {
  font-size: 20px;
  color: #4b5c69;
  opacity: 0.8;
}
.social li:hover a {
  opacity: 1;
}
.footer-nav.categ {
  padding: 0 40px;
}
.footer-nav p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 6px;
}
.footer-nav ul {
  margin-top: 22px;
  padding: 0;
}
.footer-nav.menu ul {
  margin-top: 55px;
  padding: 0;
}
.footer-nav ul li {
  list-style: none;
}
.footer-nav ul li a {
  color: #4b5c69;
  padding: 5px 0;
  display: block;
}
.container-fluid {
  padding: 0;
}
.copywrap {
  background-color: #eaeaea;
}
.copyright p {
  font-size: 13px;
  margin: 20px 0 0 -3px;
}
.pay {
  text-align: right;
}
/*
.header-top {
   .header-top-wrap {
      .header-phone p {
         margin-bottom: 10px;
         font-size: 14px;
      }
   }
}

.product-wrap {

   .reviews-wrap {
      display: flex;
      justify-content: space-between;

      .rating-reviews {
         width: 50%;

         .rating-review-block {
            display: flex;
            margin: 10px 0;
            align-items: center;

            .stars-icons-wrap {
               width: 25%;
            }

            .progress-wrap {
               width: 50%;

               .progress {
                  background-color: @color5-main;
                  height: 20px;
                  margin-right: 30px;
                  border-radius: 15px;
                  position: relative;
                  overflow: hidden;

                  & > div {
                     background-color: @color1-main;
                     position: absolute;
                     left: 0;
                     top: 0;
                     bottom: 0;
                     border-radius: 15px;
                  }
               }
            }

            .count-wrap {
               width: 25%;
            }
         }
      }

      .new-review {
         width: 40%;

         form {
            & > p {
               margin-bottom: 20px;

               label {
                  display: block;
               }

               input {
                  border: 1px solid @color5-main;
                  padding: 10px 30px;
                  font-size: 16px;
                  border-radius: 10px;
                  display: block;
                  margin-top: 10px;
                  width: 100%;
                  box-sizing: border-box;
               }

               textarea {
                  height: 70px;
                  border: 1px solid @color5-main;
                  padding: 10px 30px;
                  font-size: 16px;
                  border-radius: 10px;
                  display: block;
                  margin-top: 10px;
                  width: 100%;
                  box-sizing: border-box;
               }
            }

            div {
               margin: 10px 0;

               label {
                  display: block;
               }
--
               input[type="radio"] {
                  display: none;

                  & > input:checked + i {

                  }

                  &:hover ~ i {
                     color: @color1-main;
                  }
               }
--
               label {
                  display: inline-block;

                  i {
                     color: @color4-main;
                  }
               }

               input[type="radio"] {

               }
            }

            .btn-form {
               padding: 10px 20px;
               background-color: @color1-main;
               color: @color-fon2;
               border: none;
               border-radius: 10px;
               font-size: 18px;

               &:hover {
                  opacity: 0.7;
                  cursor: pointer;
               }
            }
         }
      }
   }
}*/
/*# sourceMappingURL=product_style.css.map */