@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

body, html {
   font-family: 'Roboto', sans-serif;
}

.wrap {
   width: 1170px;
   margin: 0 auto;
}

.header-top {
   border-bottom: 1px solid #ccc;
}

.header-top-wrap {
   padding: 18px 0 13px;
   display: flex;
   justify-content: space-between;
}

.header-phone {
   font-size: 13px;
   margin-left: 25px;
}

.login-and-money {
   display: flex;
}

.login-and-money form {
   margin-right: 20px;
}

.login {
   font-size: 13px;
   text-decoration: none;
   display: block;
   position: 0;
   top: 2px;
}

.nav-and-logo {
   display: flex;
   justify-content: space-between;
   padding-top: 14px;
}

.logo-head {
   display: block;
   position: relative;
   left: -5px;
}

.nav-and-logo nav ul {
   list-style: none;
   padding: 0;
   margin: 27px 0 0 0;
   display: flex;
}

.nav-and-logo nav ul li {
   margin-left: 31px;
}

.nav-and-logo nav ul li a {
   display: block;
   padding: 10px 8px;
   font-size: 14px;
   text-decoration: none;
   font-weight: 500;
}

.panel-header {
   background-color: #ec9801;
   display: flex;
   height: 70px;
   margin-top: 12px;
   border-radius: 5px;
}

.catalog-wrap {
   flex-basis: 260px;
}

.catalog-nav {
   position: absolute;
   display: none;
}

.search-wrap {
   padding: 7px 0;
   flex-grow: 1;
   position: relative;
   overflow: hidden;
}

.search-wrap div {
   border-radius: 45px;
   background-color: #fff;
   display: flex;
   height: 55px;
   position: relative;
   overflow: hidden;
   justify-content: space-between;
}

.search-wrap input {
   padding: 13px 26px 10px 38px;
   display: block;
   border: 0;
}

.search-wrap input::-moz-placeholder,
.search-wrap input::-webkit-input-placeholder,
.search-wrap input::-ms-placeholder,
.search-wrap input::-ms-input-placeholder,
.search-wrap input::placeholder {
   font-size: 15px;
}

.search-wrap select {
   border: 0;
}

.search-wrap button {
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   width: 77px;
   border: 0;
   cursor: pointer;
   background-color: #343e48;
}

.btn-cart-wrap {
   flex-basis: 270px;
}

.breadcrumb {
   margin-top: 43px;
}

.breadcrumb ul {
   display: flex;
}

.breadcrumb ul li {
   display: block;
}

.breadcrumb ul li a {
   color: #555;
   text-decoration: none;
   margin-right: 6px;
}

.breadcrumb ul li a:hover {
   text-decoration: underline;
}

.breadcrumb ul li span {
   color: #555;
   margin-left: 6px;
}

.login-registration {
   display: flex;
   justify-content: space-between;
   margin-top: 67px;
}

.login-wrap, .registration-wrap {
   padding: 20px 40px;
   /*background-color: rgba(0, 255, 0, 0.4);*/
   width: 35%;
}

.login-wrap {
   padding-left: 63px;
}

.registration-wrap {
   padding-right: 97px;
}

.login-head, .registration-head {
   font-weight: 400;
   font-size: 24px;
   position: relative;
   padding-bottom: 16px;
}

.login-head:after, .registration-head:after {
   content: "";
   border-top: 1px solid #ec9801;
   border-bottom: 1px solid #ec9801;
   width: 23.3%;
   position: absolute;
   left: 0;
   bottom: 0;
}

hr {
   display: block;
   border: 0;
   border-top: 1px solid #ccc;
   position: absolute;
   bottom: -12px;
   width: 100%;
}

.welcome {
   color: #333;
   margin-top: 17px;
   font-weight: 300;
}

.entry-wrap {
   width: 100%;
   margin-top: 37px;
}

.entry-wrap .form-wrap {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.legend {
   width: 100%;
   font-weight: 700;
   margin-bottom: 14px;
}

.entry-wrap input[type="text"], .entry-wrap input[type="password"] {
   padding: 15px 0px 15px 24px;
   display: block;
   border: 1px solid #ccc;
   width: 100%;
   border-radius: 20px;
   margin-bottom: 27px;
}

.entry-wrap input::-moz-placeholder {
   font-size: 15px;
}

.entry-wrap input::-webkit-input-placeholder {
   font-size: 15px;
}

.entry-wrap input:-ms-input-placeholder {
   font-size: 15px;
}

.entry-wrap input::-ms-input-placeholder {
   font-size: 15px;
}

.entry-wrap input::placeholder {
   font-size: 15px;
}

.checkbox-wrap {
   margin-top: -7px;
   display: flex;
   width: 100%;
}

.checkbox {
   width: 19px;
   height: 19px;
   margin: 0;
}

.checkbox:checked {
   font-weight: 100;
}

.checkbox-label {
   display: block;
   margin-left: 5px;
   width: 50%;
}

.entry-wrap a {
   color: #777;
   text-decoration: none;
   display: block;
   width: 45%;
   text-align: right;
}

.entry-wrap a:hover {
   text-decoration: underline;
   color: #000;
}

.entry-wrap button {
   display: block;
   margin-top: 28px;
   color: #fff;
   border: 0;
   background-color: #ec9801;
   padding: 15px 41px;
   font-size: 16px;
   font-weight: 700;
   border-radius: 35px;
}

.or-wrap {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.or-wrap:before {
   content: "";
   position: absolute;
   display: block;
   border-right: 1px solid #aaa;
   height: 375px;
   top: 65px;
   left: 60%;
   z-index: 1;
}

.or {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 56px;
   width: 56px;
   border: 1px solid #aaa;
   border-radius: 50%;
   margin-left: 22px;
   margin-bottom: 6px;
   background-color: #fff;
   z-index: 3;
}

.entry-wrap .reg {
   margin-top: -5px;
   margin-bottom: 48px;
   padding: 15px 54px;
   font-size: 17px;
}

.plus {
   margin-bottom: 15px;
}

.entry-wrap li {
   display: block;
   margin-bottom: 15px;
   font-size: 15px;
}

.entry-wrap span {
   color: #ec9801;
   margin-right: 11px;
   font-size: 12px;
}