@media (max-width: 1200px) {
	.carousel-wrap .carousel-caption .btn {
	   margin-left: 3px;
	   margin-top: -5px;
   }

	.carousel-wrap ol {
		bottom: -83px;
	}

	.prod-cart {
		position: relative;
		min-height: 386px;
	}

	.buy-and-top-list-wrap {
		position: absolute;
		width: 86%;
		bottom: 20px;
		left: 20px;
	}

	.tab-hit-prod.prod-cart {
		min-height: auto;
	}

	.tab-hit-prod .prod-link-img img {
		margin-top: 15%;
	}

	.gal-links {
		display: none;
	}

	.tab-hit-prod .top-list {
		opacity: 1;
	}

	.brand {
		width: 25%;
	}

	.brand:last-child {
		display: none;
	}

	.form-text span {
		display: none;
	}
}

@media (max-width: 992px) {
	.cart-wrap {
		text-align: center;
	}


	.carousel-wrap ol {
		bottom: -26px;
	}

   .catalog-wrap {
      display: none;
   }

   .nav-and-carusel nav li {
      margin-right: 0;
   }

   .ban {
   		margin-top: 10px;
   }

   .ban-head h3 {
	   	font-size: 30px;
	   	line-height: 45px;
   }

   .ban-link {
   		font-size: 22px;
   }

   .prod-cart .price-and-cart .price-new {
   		margin-left: -16px;
   }

   .tab-hit-prod.prod-cart .price-new {
   	margin-left: 11px;
   }

   .prod-cart .top-list {
		text-align: center;
   }

   .tab-label {
   		display: none;
   }

   .tab-hit-wrap nav .nav-link {
   		padding: 7px 10px;
   		font-size: 13px;
   }

   .form-text {
   		font-size: 16px;
   		margin-top: 35px;
   }

   .form-email form > div {
		margin-top: 16px;
		width: 100%;
   }
}

@media (max-width: 768px) {
	header {
		background: none;
	}

	.logo {
		text-align: center;
	}

   .carousel-wrap {
      	display: none;
   }

   .ban-link {
		font-size: 18px;
   }

   .ban-head h3 {
		font-size: 20px;
		line-height: 30px;
   }

   .prod-day-wrap {
   		display: none;
   }

   .prod-cart .top-list {
   		text-align: right;
   }

   .banner {
   		display: none;
   }

   .brand {
   		width: 33.33%;
   }

   .brand:nth-last-child(2) {
   		display: none;
   }

   .form-text {
   		text-align: center;
   }
}

@media (max-width: 576px) {
	.phone-wrap {
		text-align: center;
		font-size: 22px;
	}

	.cabinet-wrap {
		justify-content: center;
		padding: 15px 0;
	}

	.cabinet-wrap nav {
		font-size: 16px;
	}

	.cabinet-wrap > a {
		margin-top: 0;
		font-size: 16px;
	}

	.search-wrap {
		padding: 10px 15px;
	}

	.img-wrap {
		width: 100%;
	}

	.ban-head {
		display: none;
	}

	.tabs-prod-wrap nav .nav-link {
		margin-bottom: 3px;
	}

	.tabs-prod-wrap nav .nav-link.active,
	.tabs-prod-wrap nav .nav-link:hover {
		border: 0;
		border-bottom: 0px solid #ec9801;
		color: #fff;
		background-color: #ec9801;
	}

	.tabs-prod-wrap nav .nav-link.active:before,
	.tabs-prod-wrap nav .nav-link:hover:before {
		display: none;
	}

	.tab-hit-wrap nav .nav-link {
		text-align: center;
		margin: 5px 0;
	}

	.prev {
		left: 20px;
	}

	.next {
		right: 20px;
	}

	.menu {
		padding: 0 40px;
	}
}