@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');
@import url("responsive.css");

body, html {
   font-family: 'Roboto', sans-serif;
}

*:focus {
   outline: none;
}

.container-fluid {
   padding: 0;
}

/* -- HEADER start -- */

header {
   background: url("../images/fon_header.png") 0 100% no-repeat;
   margin-bottom: 60px;
}

.phone-wrap {
   font-size: 14px;
}

.phone-wrap p {
   margin-top: 10px;
}

.phone-wrap i {
   transform: rotate(100deg);
   font-size: 14px;
   margin-right: 5px;
   color: #ec9801;
}


.cabinet-wrap {
   display: flex;
   justify-content: flex-end;
}

.cabinet-wrap nav {
   margin-right: 30px;
   padding: 0;
   font-size: 13px;
}

.cabinet-wrap nav .nav-link {
   padding: 0;
}

.cabinet-wrap nav:after {
   content: "";
   display: block;
   width: 1px;
   height: 15px;
   margin-left: 15px;
   background-color: #333;
}


.cabinet-wrap > a {
   text-decoration: none;
   color: #333;
   display: block;
   margin-top: 14px;
   font-size: 13px;
}

.phone-and-login {
   border-bottom: 1px solid #e8e8e8;
}

.cabinet-wrap > a i {
   margin-right: 10px;
}


.logo {
   margin-left: -5px;
   margin-top: 13px;
}


.search-wrap {
   padding: 7px 0;
   flex-grow: 1;
   position: relative;
   overflow: hidden;
}

.search-wrap div {
   border-radius: 45px;
   background-color: #fff;
   display: flex;
   height: 58px;
   position: relative;
   overflow: hidden;
   justify-content: space-between;
   border: 2px solid #ec9801;
   margin-top: 12px;
}

.search-wrap input {
   padding: 13px 26px 10px 38px;
   display: block;
   border: 0;
}

.search-wrap input::-moz-placeholder,
.search-wrap input::-webkit-input-placeholder,
.search-wrap input::-ms-placeholder,
.search-wrap input::-ms-input-placeholder,
.search-wrap input::placeholder {
   font-size: 15px;
}

.search-wrap select {
   border: 0;
}

.search-wrap button {
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   width: 77px;
   border: 0;
   cursor: pointer;
   background-color: #ec9801;
   color: #fff;
}


.cart-wrap {
   text-align: right;
   margin-top: 13px;
}

.list-top {
   color: #333;
   font-size: 24px;
   display: inline-block;
   margin: 12px 15px 0;
}

.cart-top {
   color: #333;
   font-size: 24px;
   position: relative;
}

.cart-top .count {
   position: absolute;
   background-color: #ec9801;
   color: #fff;
   width: 30px;
   text-align: center;
   height: 29px;
   display: block;
   border-radius: 50%;
   line-height: 20px;
   padding: 5px;
   left: 9px;
   top: 13px;
}

.cart-top .value-cart {
   margin-left: 25px;
   font-size: 16px;
   font-weight: 500;
}


.catalog-wrap {
   margin-top: 15px;
}

.catalog-head {
   background-color: #ec9801;
   color: #fff;
   font-size: 19px;
   padding: 16px 0 15px 29px;
   font-weight: 500;
   border-radius: 5px 5px 0 0;
}

.catalog-wrap ul {
   padding: 4px 0;
   background-color: #fff;
}

.catalog-wrap ul li {
   border-bottom: 1px solid #ccc;
}

.catalog-wrap ul li a {
   color: #4b5c69;
   font-size: 14px;
}

.catalog-wrap ul li a.weight {
   font-weight: 700;
}

.catalog-wrap ul li a:hover {
   text-decoration: underline;
}


.nav-and-carusel nav{
   margin-left: -10px;
   margin-top: 10px;
}

.nav-and-carusel nav li {
   margin-right: 26px;
}

.nav-and-carusel nav.navbar-light li a.nav-link {
   font-weight: 600;
   font-size: 16px;
   color: #333;
}

.nav-and-carusel nav.navbar-light li.active a.nav-link,
.nav-and-carusel nav.navbar-light li a.nav-link:hover {
   color: #ec9801;
}

.carousel-wrap {
   position: relative;
}

.carousel-wrap .carousel-caption {
   color: #333;
   position: absolute;
   top: 19%;
   left: 26px;
   text-align: left;
}

.carousel-wrap ol {
   position: absolute;
   bottom: 0;
   left: -83%;
}

.carousel-wrap ol li {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #ddd;
}

.carousel-wrap ol li.active {
   background-color: #ec9801;
   width: 30px;
   border-radius: 10px;
}

.carousel-wrap .carousel-caption h3 span {
   display: block;
   font-size: 48px;
   font-weight: 300;
   margin-bottom: 2px;
}

.carousel-wrap .carousel-caption h3 {
   font-size: 30px;
}

.text-slider {
   margin-top: 10px;
   margin-left: 3px;
   font-size: 17px;
}

.price-slider {
   margin-top: 26px;
   display: flex;
}

.price-old {
   font-size: 18px;
   margin-left: 6px;
   text-decoration: line-through;
}

.price-new {
   font-size: 34px;
   margin-left: 11px;
   font-weight: 500;
   color: #ff2626;
}

.carousel-wrap .carousel-caption .btn {
   display: inline-block;
   color: #fff;
   background-color: #ec9801;
   padding: 9px 72px;
   margin-left: 10px;
   margin-top: 8px;
   font-size: 18px;
}

/* -- HEADER end -- */

/* -- BANNERS start -- */

.ban {
   display: flex;
   background-color: #f5f5f5;
}

.img-wrap, .ban-head {
   width: 50%;
}

.img-wrap a {
   display: block;
}

.img-wrap img {
   display: block;
   width: 100%;
   height: auto;
}

.ban-head {
   padding-top: 20px;
   position: relative;
}

.ban-head h3 {
   text-transform: uppercase;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
}

.ban-head h3 span {
   display: inline-block;
   text-transform: initial;
}

.ban-head h3 span.weight {
   font-weight: 500;
}

.ban-link {
   position: absolute;
   bottom: 10px;
   left: 0;
   color: #333;
}

.ban-link:hover {
   color: #333;
}

.ban-link i {
   color: #fff;
   width: 20px;
   line-height: 20px;
   border-radius: 50%;
   background-color: #ec9801;
   text-align: center;
   margin-left: 5px;
}

/* -- BANNERS end -- */

/* -- PRODUCT DAY start -- */

.prod-day-wrap {
   margin-top: 96px;
}

.prod-day {
   border: 3px solid #ec9801;
   border-radius: 20px;
   position: relative;
   padding: 24px;
}

.prod-day .title {
   font-size: 26px;
   font-weight: 500;
   line-height: 34px;
   color: #333;
}

.prod-day .title span {
   display: block;
   font-weight: 400;
}

.prod-sale {
   display: block;
   background-color: #ff2626;
   text-align: center;
   color: #fff;
   width: 115px;
   position: absolute;
   top: 24px;
   right: 24px;
   padding: 8px;
   border-radius: 15px;
}

.prod-link-img {
   display: block;
}

.prod-link-img img {
   display: block;
   width: 100%;
   height: auto;
}

.prod-link-title {
   display: block;
   margin-top: 27px;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   color: #0065c0;
}

.prod-day .prod-price {
   text-align: center;
}

.prod-day .price-old {
   font-size: 15px;
   margin-left: 19px;
}

.prod-day .price-new {
   margin-left: 10px;
}

.progress-wrap {
   margin-top: 26px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.progress-wrap span {
   font-weight: 500;
}

.progress {
   width: 100%;
   border-radius: 50px;
   height: 20px;
   margin-top: -8px;
}

.progress-bar {
   background-color: #ec9801;
}

.timer {
   margin-top: 20px;
}

.message {
   font-size: 14px;
   text-align: center;
}

.time {
   display: flex;
   justify-content: space-around;
}

.hour, .minute, .second {
   color: #ff2626;
   text-align: center;
   position: relative;
}

.hour:after, .minute:after {
   content: ":";
   font-size: 29px;
   position: absolute;
   top: 0;
   right: -20px;
   color: #333;
}

.time span {
   background-color: #ddd;
   display: block;
   height: 50px;
   width: 65px;
   color: #333;
   font-size: 29px;
   line-height: 29px;
   padding: 10px;
   border-radius: 10px;
}

/* -- PRODUCT DAY end -- */

/* -- TABS PRODUCT start -- */

.tabs-prod-wrap {
   margin-top: 82px;
}

.tabs-prod-wrap nav {
   border-bottom: 2px solid #ece8e8;
}

.tabs-prod-wrap nav .nav-link {
   color: #333;
   font-size: 20px;
   border: 0;
   border-bottom: 2px solid transparent;
   position: relative;
}

.tabs-prod-wrap nav .nav-link:hover {
   border: 0;
   border-bottom: 2px solid #ec9801;
}

.tabs-prod-wrap nav .nav-link:hover:before {
   content: "";
   display: block;
   position: absolute;
   width: 16px;
   height: 8px;
   background-color: #ec9801;
   left: 50%;
   margin-left: -8px;
   bottom: -8px;
   border-radius: 0 0 50% 50%;
}

.tabs-prod-wrap nav .nav-link.active {
   font-weight: 500;
   border: 0;
   border-bottom: 2px solid #ec9801;
}

.tabs-prod-wrap nav .nav-link.active:before {
   content: "";
   display: block;
   position: absolute;
   width: 16px;
   height: 8px;
   background-color: #ec9801;
   left: 50%;
   margin-left: -8px;
   bottom: -8px;
   border-radius: 0 0 50% 50%;
}

.prod-cart {
   margin: 5px 0;
   padding: 20px;
   border-radius: 5px;
   overflow: hidden;
}

.category {
   font-size: 14px;
   color: #a09d9d;
   margin-bottom: 0;
}

.prod-cart .prod-link-title {
   text-align: left;
}

.prod-cart .prod-link-img {
   display: block;
}

.prod-cart .prod-link-img img {
   width: 70%;
   height: 165px;
   margin: 0 auto;
}

.price-and-cart {
   position: relative;
   margin-top: 16px;
}

.price-and-cart .price-new {
   font-size: 16px;
   display: inline-block;
   font-weight: 500;
}

.price-and-cart .price-old {
   font-size: 12px;
   display: inline-block;
   font-weight: 300;
}

.cart-link {
   display: block;
   background-color: #ccc;
   color: #fff;
   width: 30px;
   height: 30px;
   text-align: center;
   font-size: 13px;
   line-height: 30px;
   position: absolute;
   right: 0;
   top: 0;
   border-radius: 50%;
}

.cart-link:hover {
   background-color: #ec9102;
   color: #fff;
   text-decoration: none;
}

.prod-cart .top-list {
   display: block;
   text-align: right;
   color: #a09d9d;
   font-size: 12px;
   border-top: 1px solid #e4e4e4;
   padding-top: 10px;
   opacity: 0;
}

.prod-cart:hover {
   box-shadow: 0 0 17px 0 rgba(204, 204, 204, 1);
}

.prod-cart:hover .top-list {
   opacity: 1;
}

/* -- TABS PRODUCT end -- */

/* TABS HIT start */

.tab-hit-wrap {
   position: relative;
   margin-top: 24px;
}

.tab-label {
   position: absolute;
   font-size: 26px;
   border-bottom: 2px solid #ec9801;
   height: 50px;
   top: 0;
   left: 9px;
}

.tab-hit-wrap nav .nav-tabs {
   padding-bottom: 9px;
}

.tab-hit-wrap nav .nav-link {
   border: 2px solid transparent;
   color: #333;
   border-radius: 50px;
   padding: 7px 20px;
   font-size: 15px;
   font-weight: 500;
   margin: 0 5px;
}

.tab-hit-wrap nav .nav-link.active, .tab-hit-wrap nav .nav-link:hover {
   border: 2px solid #ec9801;
   font-weight: 500;
}

.tab-hit-prod.prod-cart {
   display: flex;
}

.tab-hit-prod:hover .gal-links{
   opacity: 1;
}
.img-gal-wrap {
   position: relative;
   width: 50%;
}

.tab-hit-prod .prod-link-img img {
   width: 100%;
   height: auto;
   margin: 25% 0 0 0;
}

.gal-links {
   display: flex;
   position: absolute;
   left: 0;
   bottom: -10px;
   opacity: 0;
}

.gal-links a {
   width: 40px;
   height: 40px;
   border: 1px solid #ccc;
   margin-left: 3px;
}

.gal-links a:hover {
   border-bottom: 2px solid #ec8901;
}

.gal-links a img {
   display: block;
   width: 100%;
   height: auto;
   margin-top: 20%;
}

.tab-hit-prod > div {
   width: 50%;
}

/* -- TABS HIT end -- */

.banner {
   margin-top: 30px;
}

.banner a img {
   display: block;
   width: 100%;
   height: auto;
}

/* CAROUSEL start */

.carousel-2 {
   display: flex;
   position: relative;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   margin-top: 25px;
}

.brand-list {
   width: 100%;
   display: flex;
}

.brand {
   display: block;
   width: 20%;
   height: auto;
   padding: 0 10px;
}

.prev, .next {
   position: absolute;
   z-index: 777;
   top: 20px;
   text-align: center;
   color: #ccc;
}

.prev:hover, .next:hover {
   color: #ccc;
}

.prev {
   left: 0;
}

.next {
   right: 0;
}

/* -- CAROUSEL end -- */

/* -- SUBSCRIBE start -- */

.subscribe-bg {
   background-color: #ec9801;
   margin-top: 102px;
   padding: 10px 0;
}

.form-text {
   color: #fff;
   font-size: 20px;
   margin-top: 22px;
}

.form-text i {
   margin-right: 21px;
}

.form-text span {
   margin-left: 65px;
   font-size: 15px;
}

.form-email {
   text-align: right;
}

.form-email form > div {
   background-color: #fff;
   border-radius: 50px;
   margin-top: 13px;
   width: 83%;
}

.form-email input {
   border: 0;
}

.form-email button {
   border: 0px;
   background-color: #343e48;
   color: #fff;
   display: inline-block;
   padding: 10px 20px;
   border-radius: 0 50px 50px 0;
   cursor: pointer;
}

/* -- SUBSCRIBE end -- */

/* -- FOOTER start -- */

footer {
   background-color: #f8f8f8;
}

.contact-and-categ {
   padding: 46px 0;
}

.call {
   display: flex;
   margin: 9px 0 0 7px;
}

.call img {
   display: block;
   margin-right: 23px;
}

.call div {
   margin-top: 9px;
}

.call div p {
   font-size: 13px;
   margin-bottom: 0;
}

.call div p span {
   color: #ec9801;
}

.number {
   font-size: 23px;
   display: block;
}

.address {
   margin-top: 33px;
   padding-left: 13px;
}

.address span {
   font-weight: 500;
}

.address p {
   font-size: 14px;
}

.social {
   padding: 0;
   display: flex;
   margin-top: 37px;
   margin-left: 13px;
}

.social li {
   list-style: none;
   margin-right: 23px;
}

.social li a {
   font-size: 20px;
   color: #4b5c69;
   opacity: 0.8;
}

.social li:hover a {
   opacity: 1;
}

.footer-nav.categ {
   padding: 0 40px;
}

.footer-nav p {
   font-weight: 500;
   font-size: 18px;
   margin-top: 6px;  
}

.footer-nav ul {
   margin-top: 22px;
   padding: 0;
}

.footer-nav.menu ul {
   margin-top: 55px;
   padding: 0;
}

.footer-nav ul li {
   list-style: none;
}

.footer-nav ul li a {
   color: #4b5c69;
   padding: 5px 0;
   display: block;
}

.copywrap {
   background-color: #eaeaea;
}

.copyright p {
   font-size: 13px;
   margin: 20px 0 0 -3px;
}

.pay {
   text-align: right;
}