@import smart-grid.sass
   
.cart-wrap
   padding: $offset
   +wrapper()

   .cart-block
      +row-flex()
   
      h1
         font-size: 30px
         font-weight: 300
         +col()
         +size(12)

      form
         +col()
         +size(12)

         .cart

            .cart-row-title
               +row-flex()
               +col()
               +size(12)
               border-bottom: 1px solid #d3d5d7

               & > div
                  padding: 10px 0
                  font-weight: 300

               .title-prod
                  +row-flex()
                  +col()
                  +size(6)

                  .del
                     +col()
                     +size(2)

                  .img-prod
                     +col()
                     +size(4)

                  .name-prod
                     +col()
                     +size(6)

               .price-prod
                  +col()
                  +size(2)

               .value-prod
                  +col()
                  +size(2)

               .count-prod
                  +col()
                  +size(2)

            .cart-row
               +row-flex()
               +col()
               +size(12)

               .title-prod
                  +row-flex()
                  +col()
                  +size(6)

                  .del
                     +col()
                     +size(2)
                     color: #d3d5d7
                     display: flex
                     justify-content: center

                     button
                        border: none
                        background-color: transparent
                        color: #d3d5d7
                        cursor: pointer

                  .img-prod
                     +col()
                     +size(4)
                     text-align: center

                  .name-prod
                     +col()
                     +size(6)
                     display: flex
                     align-items: center

               .price-prod
                  +col()
                  +size(2)
                  display: flex
                  align-items: center

               .value-prod
                  +col()
                  +size(2)
                  display: flex
                  align-items: center

                  .value-wrap
                     border: 1px solid #dee2e6
                     border-radius: 20px
                     padding: 3px 3px 3px 15px
                     position: relative

                     input
                        border: none
                        font-size: 14px
                        height: 27px
                        width: 90%
                        margin-right: 10px

                     .button-wrap
                        position: absolute
                        top: 3px
                        right: 4px
                        border-radius: 0 30px 30px 0

                        button
                           border: none
                           background-color: #dee2e6
                           font-size: 16px
                           color: #333
                           border-radius: 50%
                           width: 25px
                           text-align: center
                           line-height: 25px
                           margin-left: 3px
                           cursor: pointer

                           &[disabled]
                              opacity: 0.5

               .count-prod
                  +col()
                  +size(2)
                  display: flex
                  align-items: center

            .cart-result
               +col()
               +size(12)
               text-align: right
               border-top: 1px solid #d3d5d7
               padding-top: 10px
               padding-bottom: 10px
               font-size: 18px

               span
                  display: block
                  font-size: 22px

            .btn-and-coupon
               +row-flex()
               +col()
               +size(12)

               .coupon-wrap
                  +col()
                  +size(4)

                  .coupon
                     border: 1px solid #dee2e6
                     border-radius: 50px
                     padding-left: 12px
                     position: relative

                     input
                        padding: 5px 10px
                        border: none

                     button
                        background-color: #343e48
                        color: #fff
                        display: inline-block
                        padding: 10px 20px
                        border-radius: 0 50px 50px 0
                        cursor: pointer
                        border: none

               .cart-btn
                  +col()
                  +shift-left(5)
                  +size(3)
                  text-align: right

                  .submit
                     cursor: pointer
                     background-color: #ec9801
                     color: #fff
                     padding: 10px 40px
                     border: none
                     font-size: 16px
                     border-radius: 50px