.category-wrap
   width: 100%
   position: relative
   margin-bottom: 100px

   hr
      width: 100%
      height: 1px
      background-color: #f5f5f5
      border: none
      margin: 0
      position: absolute
      top: 39px
      z-index: -1

   .category-menu
      display: flex
      flex-wrap: wrap

      h1
         color: #343e48
         font-weight: 400
         font-size: 28px
         display: inline-block
         padding-bottom: 5px
         margin-bottom: 0
         position: relative
         width: 100%

         &:after
            content: ""
            height: 2px
            width: 135px
            display: block
            background-color: #ec9801
            position: absolute
            left: 0
            bottom: -2px

      .category-item 
         width: 25%
         padding: 0 15px
         box-sizing: border-box
         margin-top: 40px
         text-align: center

         div

            .category-img-link
               display: block
               width: 100%
               margin-bottom: 30px
               min-height: 210px

               img
                  display: block
                  width: 80%
                  margin: 0 auto
                  transition: all 1s ease

            &:hover img
               transform: scale(1.1)

            .category-title
               color: #343e48
               font-size: 18px