@import url('var.less');
@import url('template.less');

.btn() {
   background-color: @color1-main;
   color: @color-fon2;
   display: block;
   width: 100%;
   max-width: 300px;
   border: 0;
   border-radius: 4px;
   padding: 10px 20px;
   font-size: 20px;
   font-weight: 400;
   margin-top: 20px;
   cursor: pointer;
}

.header-top {
   border-bottom: 1px solid @color-fon4;

   .header-top-wrap {
      padding: 10px 0 0 0;

      .header-phone {
         width: 50%;
         box-sizing: border-box;

         p {
            margin-bottom: 10px;
            font-size: 14px;

            i {
               color: @color1-main;
               margin-right: 10px;
            }
         }
      }

      .login-and-money {
         width: 50%;
         box-sizing: border-box;
         justify-content: flex-end;

         nav {
            padding: 0;
            margin-right: 40px;
            color: @color2-main;
            margin-top: -8px;
         }

         .login {
            font-size: 16px;
            color: #333;
            font-weight: 500;

            i {
               margin-right: 10px;
            }
         }
      }
   }
}

.nav-and-logo {
   padding: 0;

   .logo-head {
      width: 25%;
      padding: 0 15px;
      box-sizing: border-box;
   }

   .main-menu {
      width: 75%;
      padding: 15px 0 0 15px;
      box-sizing: border-box;

      nav {
         padding-right: 0;

         ul {
            margin: 0;
            width: 100%;

            li {
               margin-left: 0;

               &.active .nav-link {
                  color: @color1-main;
               }

               .nav-link {
                  color: #333;
                  font-weight: 500;
                  font-size: 16px;
                  padding: 8px 16px;
               }

               .nav-link:hover {
                  color: @color1-main;
               }
            }
         }
      }
   }
}

.panel-header {
   position: relative;
   margin: 0 auto;
   height: auto;
   padding: 0 20px;

   .catalog-wrap {
      width: 25%;
      box-sizing: border-box;
      padding: 15px 15px 0 15px;

      span {
         color: @color-fon2;
         font-size: 20px;
         font-weight: 500;
         margin-top: 10px;
         display: block;
         cursor: pointer;

         i {
            margin-right: 15px;
            font-size: 18px;
         }
      }

      .catalog-nav {
         background-color: @color1-main;
         margin-left: -35px;
         padding: 10px 25px;
         z-index: 3;
         border-radius: 0 0 5px 5px;

         ul {

            li {
               margin: 3px 0;

               a {
                  color: @color-fon2;
                  font-size: 16px;
                  display: block;
                  padding: 5px 0;
               }

               a:hover {
                  color: #333;
               }
            }
         }
      }
   }

   .search-wrap {
      width: 50%;
      padding: 10px;
      border-radius: 22px;
      box-sizing: border-box;

      i {
         color: @color-fon2;
         font-size: 20px;
      }
   }

   .btn-cart-wrap {
      width: 25%;
      padding: 22px 7px;
      text-align: right;
      box-sizing: border-box;

      .list-top {
         color: @color-fon2;
         font-size: 24px;
         margin: 0 15px;

         &:hover {
            text-decoration: none;
         }
      }

      .cart-top {
         color: @color-fon2;
         font-size: 24px;
         position: relative;
         margin: 0 15px;
         
         .count {
            position: absolute;
            background-color: #333;
            color: @color-fon2;
            width: 30px;
            height: 30px;
            text-align: center;
            display: block;
            border-radius: 50%;
            left: 10px;
            top: 15px;
            line-height: 30px;
            font-size: 18px;
         }

         .value-cart {
            color: @color-fon2;
            font-size: 16px;
            font-weight: 500;
            margin-left: 25px;
         }
      }
   }
}

.breadcrumb {
   background-color: transparent;
   margin: 30px auto;
   box-sizing: border-box;
   padding: 0;

   ul {
      width: 100%;

      li {
         margin-right: 5px;

         a {
            font-size: 15px;
         }

         i {
            color: #777;
            font-size: 13px;
         }

         span {
            font-size: 15px;
            margin-left: 3px;
         }
      }
   }
}

/* -- CATEGORY start -- */



/* -- CATEGORY end -- */

/* TABS HIT start */

.tab-hit-wrap {
   position: relative;
   margin-top: 24px;
}

.tab-label {
   position: absolute;
   font-size: 26px;
   border-bottom: 2px solid #ec9801;
   height: 50px;
   top: -6px;
   left: 9px;
}

.tab-hit-wrap nav .nav-tabs {
   padding-bottom: 9px;
}

.tab-hit-wrap nav .nav-link {
   border: 2px solid transparent;
   color: #333;
   border-radius: 50px;
   padding: 7px 20px;
   font-size: 15px;
   font-weight: 500;
   margin: 0 5px;
}

.tab-hit-wrap nav .nav-link.active, .tab-hit-wrap nav .nav-link:hover {
   border: 2px solid #ec9801;
   font-weight: 500;
}

.tab-hit-prod.prod-cart {
   display: flex;
}

.prod-cart {
    margin-top: 10px;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.prod-cart:hover {
  box-shadow: 0 0 17px 0 rgba(204, 204, 204, 1);
}

.tab-hit-prod .prod-link-img img {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.tab-hit-prod > div {
   width: 50%;
}

.tab-hit-prod .category {
  font-size: 14px;
  color: #a09d9d;
  margin-bottom: 0;
}

.tab-hit-prod .prod-link-title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #0065c0;
  line-height: 20px;
  margin-top: 8px;
}

.tab-hit-prod .price-and-cart {
  position: relative;
  margin-top: 30px;
}

.tab-hit-prod .price-new {
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  color: #ff2626;
  margin-right: 10px;
  margin-bottom: 25px;
}

.tab-hit-prod .price-old {
  text-decoration: line-through;
  font-size: 14px;
  display: inline-block;
  color: #a09d9d; 
  margin-bottom: 25px;
}

.tab-hit-prod .cart-link {
  display: block;
  background-color: #ccc;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
}

.tab-hit-prod .cart-link:hover {
  background-color: #ec9102;
  color: #fff;
  text-decoration: none;
}



.tab-hit-prod .top-list {
  display: block;
  text-align: right;
  color: #a09d9d;
  font-size: 14px;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
}

/* -- TABS HIT end -- */

/* CAROUSEL start */

.carousel-2 {
   display: flex;
   position: relative;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   margin-top: 25px;
}

.brand-list {
   width: 100%;
   display: flex;
}

.brand {
   display: block;
   width: 20%;
   height: auto;
   padding: 0 10px;
}

.prev, .next {
   position: absolute;
   z-index: 777;
   top: 30px;
   text-align: center;
   color: #ccc;
}

.prev:hover, .next:hover {
   color: #ccc;
}

.prev {
   left: 0;
}

.next {
   right: 0;
}

/* -- CAROUSEL end -- */

/* -- SUBSCRIBE start -- */

.subscribe-bg {
   background-color: #ec9801;
   margin-top: 60px;
   padding: 10px 0;
}

.form-text {
   color: #fff;
   font-size: 20px;
   margin-top: 22px;
}

.form-text i {
   margin-right: 21px;
}

.form-text span {
   margin-left: 65px;
   font-size: 15px;
}

.form-email {
   text-align: right;
   margin-bottom: 10px;
}

.form-email form > div {
   background-color: #fff;
   border-radius: 50px;
   margin-top: 13px;
   width: 83%;
}

.form-email input {
   border: 0;
}

.form-email button {
   border: 0px;
   background-color: #343e48;
   color: #fff;
   display: inline-block;
   padding: 10px 20px;
   border-radius: 0 50px 50px 0;
   cursor: pointer;
}

/* -- SUBSCRIBE end -- */

/* -- FOOTER start -- */

footer {
   background-color: #f8f8f8;
}

.contact-and-categ {
   padding: 46px 0;
}

.call {
   display: flex;
   margin: 9px 0 0 7px;
}

.call img {
   display: block;
   margin-right: 23px;
}

.call div {
   margin-top: 9px;
}

.call div p {
   font-size: 13px;
   margin-bottom: 10px;
}

.call div p span {
   color: #ec9801;
}

.number {
   font-size: 23px;
   display: block;
}

.address {
   margin-top: 33px;
   padding-left: 13px;
}

.address span {
   font-weight: 500;
}

.address p {
   font-size: 14px;
   margin-top: 10px;
}

.social {
   padding: 0;
   display: flex;
   margin-top: 37px;
   margin-left: 13px;
}

.social li {
   list-style: none;
   margin-right: 23px;
}

.social li a {
   font-size: 20px;
   color: #4b5c69;
   opacity: 0.8;
}

.social li:hover a {
   opacity: 1;
}

.footer-nav.categ {
   padding: 0 40px;
}

.footer-nav p {
   font-weight: 500;
   font-size: 18px;
   margin-top: 6px;  
}

.footer-nav ul {
   margin-top: 22px;
   padding: 0;
}

.footer-nav.menu ul {
   margin-top: 55px;
   padding: 0;
}

.footer-nav ul li {
   list-style: none;
}

.footer-nav ul li a {
   color: #4b5c69;
   padding: 5px 0;
   display: block;
}

.container-fluid {
  padding: 0;
}

.copywrap {
   background-color: #eaeaea;
}

.copyright p {
   font-size: 13px;
   margin: 20px 0 0 -3px;
}

.pay {
   text-align: right;
}


/*
.header-top {
   .header-top-wrap {
      .header-phone p {
         margin-bottom: 10px;
         font-size: 14px;
      }
   }
}

.product-wrap {

   .reviews-wrap {
      display: flex;
      justify-content: space-between;

      .rating-reviews {
         width: 50%;

         .rating-review-block {
            display: flex;
            margin: 10px 0;
            align-items: center;

            .stars-icons-wrap {
               width: 25%;
            }

            .progress-wrap {
               width: 50%;

               .progress {
                  background-color: @color5-main;
                  height: 20px;
                  margin-right: 30px;
                  border-radius: 15px;
                  position: relative;
                  overflow: hidden;

                  & > div {
                     background-color: @color1-main;
                     position: absolute;
                     left: 0;
                     top: 0;
                     bottom: 0;
                     border-radius: 15px;
                  }
               }
            }

            .count-wrap {
               width: 25%;
            }
         }
      }

      .new-review {
         width: 40%;

         form {
            & > p {
               margin-bottom: 20px;

               label {
                  display: block;
               }

               input {
                  border: 1px solid @color5-main;
                  padding: 10px 30px;
                  font-size: 16px;
                  border-radius: 10px;
                  display: block;
                  margin-top: 10px;
                  width: 100%;
                  box-sizing: border-box;
               }

               textarea {
                  height: 70px;
                  border: 1px solid @color5-main;
                  padding: 10px 30px;
                  font-size: 16px;
                  border-radius: 10px;
                  display: block;
                  margin-top: 10px;
                  width: 100%;
                  box-sizing: border-box;
               }
            }

            div {
               margin: 10px 0;

               label {
                  display: block;
               }
--
               input[type="radio"] {
                  display: none;

                  & > input:checked + i {

                  }

                  &:hover ~ i {
                     color: @color1-main;
                  }
               }
--
               label {
                  display: inline-block;

                  i {
                     color: @color4-main;
                  }
               }

               input[type="radio"] {

               }
            }

            .btn-form {
               padding: 10px 20px;
               background-color: @color1-main;
               color: @color-fon2;
               border: none;
               border-radius: 10px;
               font-size: 18px;

               &:hover {
                  opacity: 0.7;
                  cursor: pointer;
               }
            }
         }
      }
   }
}*/