@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

body, html {
   font-family: 'Roboto', sans-serif;
}

.wrap {
   width: 1170px;
   margin: 0 auto;
}

.header-top {
   border-bottom: 1px solid #ccc;
}

.header-top-wrap {
   padding: 18px 0 13px;
   display: flex;
   justify-content: space-between;
}

.header-phone {
   font-size: 13px;
   margin-left: 25px;
}

.login-and-money {
   display: flex;
}

.login-and-money form {
   margin-right: 20px;
}

.login {
   font-size: 13px;
   text-decoration: none;
   display: block;
   position: 0;
   top: 2px;
}

.nav-and-logo {
   display: flex;
   justify-content: space-between;
   padding-top: 14px;
}

.logo-head {
   display: block;
   position: relative;
   left: -5px;
}

.nav-and-logo nav ul {
   list-style: none;
   padding: 0;
   margin: 27px 0 0 0;
   display: flex;
}

.nav-and-logo nav ul li {
   margin-left: 31px;
}

.nav-and-logo nav ul li a {
   display: block;
   padding: 10px 8px;
   font-size: 14px;
   text-decoration: none;
   font-weight: 500;
}

.panel-header {
   background-color: #ec9801;
   display: flex;
   height: 70px;
   margin-top: 12px;
   border-radius: 5px;
}

.catalog-wrap {
   flex-basis: 260px;
}

.catalog-nav {
   position: absolute;
   display: none;
}

.search-wrap {
   padding: 7px 0;
   flex-grow: 1;
   position: relative;
   overflow: hidden;
}

.search-wrap div {
   border-radius: 45px;
   background-color: #fff;
   display: flex;
   height: 55px;
   position: relative;
   overflow: hidden;
   justify-content: space-between;
}

.search-wrap input {
   padding: 13px 26px 10px 38px;
   display: block;
   border: 0;
}

.search-wrap input::-moz-placeholder,
.search-wrap input::-webkit-input-placeholder,
.search-wrap input::-ms-placeholder,
.search-wrap input::-ms-input-placeholder,
.search-wrap input::placeholder {
   font-size: 15px;
}

.search-wrap select {
   border: 0;
}

.search-wrap button {
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   width: 77px;
   border: 0;
   cursor: pointer;
   background-color: #343e48;
}

.btn-cart-wrap {
   flex-basis: 270px;
}

.breadcrumb {
   margin-top: 43px;
}

.breadcrumb ul {
   display: flex;
}

.breadcrumb ul li {
   display: block;
}

.breadcrumb ul li a {
   color: #555;
   text-decoration: none;
   margin-right: 6px;
}

.breadcrumb ul li a:hover {
   text-decoration: underline;
}

.breadcrumb ul li span {
   color: #555;
   margin-left: 6px;
}