@color1-main: #ec9801;
@color2-main: #010101;
@color3-main: #828282;
@color4-main: #c1bcbc;
@color5-main: #ededed;

@color-fon1: #fdfdfd;
@color-fon2: #fff;
@color-fon3: #f8f8f8;
@color-fon4: #f5f5f5;

@color1: #fbd745;